name: ci

on: push

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: npm ci
        env:
          CI: true
        run: |
          npm ci
      - name: Run tests if on main if on main
        if: github.ref == 'refs/heads/main'
        run: |
          # npm run test
      - name: run tests on develop if on develop
        if: github.ref == 'refs/heads/develop'
        run: |
          # npm run test
      - name: If on main branch deploy to production
        if: github.ref == 'refs/heads/main'
        run: |
          # npm run deploy
      - name: Else if on develop branch deploy staging
        if: github.ref == 'refs/heads/develop'
        run: |
          # npm run deploy-stage
